

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/add-candidate/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <style>
    h1 {
      text-align: center;
      margin-top: 1rem;
    }
  </style>
  <body>
    <h1>Add New Candidate</h1>
    <div class="right">
      <form
        class="row g-3 needs-validation"
        action="/submit-candidate"
        method="POST"
        novalidate
      >
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom01"
            name="firstname"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom02"
            name="lastname"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Roll</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input
              type="text"
              class="form-control"
              id="validationCustomUsername"
              aria-describedby="inputGroupPrepend"
              name="roll"
              required
            />
            <div class="invalid-feedback">Please check the roll.</div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">Post Name</label>
          <select
            class="form-select"
            id="validationCustom04"
            name="postname"
            required
          >
            <option selected disabled value="">Choose...</option>
            <option>Scientist-B</option>
            <option>AI</option>
            <option>Cyber Security</option>
            <option>ML</option>
            <option>Junior Research Fellow (JRF)</option>
            <option>Senior Research Fellow (SRF)</option>
            <option>Scientist-C</option>
            <option>Scientist-D</option>
            <option>Scientist-E</option>
            <option>Scientist-F</option>
            <option>Scientist-G</option>
            <option>Technical Officer-A</option>
            <option>Technical Assistant</option>
            <option>Administrative Officer</option>
            <option>Store Officer</option>
            <option></option>
          </select>
          <div class="invalid-feedback">Please check the post</div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom04" class="form-label">Expertise</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom04"
            name="expertise"
            required
          />

          <div class="invalid-feedback">Please give their expertise</div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Post Code</label>
          <select
            class="form-select"
            id="validationCustom04"
            name="postcode"
            required
          >
            <option selected disabled value="">Choose...</option>
            <option>0101</option>
            <option>0201</option>
            <option>0301</option>
            <option>0401</option>
            <option>0501</option>
            <option>0601</option>
            <option>0701</option>
            <option>0801</option>
            <option>0901</option>
            <option>JRF-2024/01</option>
            <option>JRF-2024/02</option>
            <option>JRF-2024/03</option>
            <option>JRF-2024/04</option>
            <option>SRF-2024/01</option>
            <option>SRF-2024/02</option>
            <option>SC-0101</option>
            <option>SD-0201</option>
            <option>SE-0301</option>
            <option>SF-0401</option>
            <option>SG-0501</option>
            <option>TOA-01</option>
            <option>TOA-02</option>
            <option>TOA-03</option>
            <option>TA-01</option>
            <option>TA-02</option>
            <option>TA-03</option>
            <option>TA-04</option>
            <option>...</option>
          </select>
          <div class="invalid-feedback">please check if post code!</div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label"
            >Professional Experience
          </label>
          <select
            class="form-select"
            id="validationCustom04"
            name="experience"
            required
          >
            <option selected disabled value="">Choose...</option>
            <option>06 month</option>
            <option>0.5 to 1 year</option>
            <option>1 to 1.5 years</option>
            <option>1.5 to 2 years</option>
            <option>2 to 2.5 years</option>
            <option>2.5 to 3 years</option>
            <option>3 to 3.5 years</option>
            <option>3.5 to 4 years</option>
            <option>4 to 4.5 years</option>
            <option>4.5 to 5 years</option>
            <option>5 to 5.5 years</option>
            <option>5.5 to 6 years</option>
            <option>6 to 6.5 years</option>
            <option>6.5 to 7 years</option>
            <option>7 to 7.5 years</option>
            <option>7.5 to 8 years</option>
            <option>8 to 9 years</option>
            <option>9 to 11 years</option>
            <option>11 to 15 years</option>
            <option>15 to 18 years</option>
            <option>18 to 22 years</option>
            <option>22 to 27 years</option>
            <option>27 to 35 years</option>
            <option>...</option>
          </select>
          <div class="invalid-feedback">
            please check the candidate experience!
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="invalidCheck"
              required
            />
            <label class="form-check-label" for="invalidCheck"> confirm </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    </div>
    <script>
      (() => {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
